<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select name="state" id="state">
        <option value="">Select</option>
        {% for state in states %}
        <option value="{{ state.state_id }}">{{ state.state_name }}</option>
        {% endfor %}
    </select><br><br>
    <select name="lga" id="lga"></select><br><br>
    <button type="button">Send</button>
</body>
<script>
    $(document).ready(function(){
        $('#state').change(function(){
            stateId = $(this).val()
            var csrf = '{{ csrf_token() }}'
            $.ajax({
                url: '/lga/post',
                type: 'POST',
                data: {'state_id':stateId},
                success: function(resp){

                }
            })
        })
    })
</script>
</html>